<confirm-delete [targetItemId]="selectedDestinationId" (deleteRequest)="onDeleteRequest($event)"></confirm-delete>

<div id="main" class="container">

  <div id="top" class="row">
    <div class="col-md-3">
      <h2>Destinations</h2>
    </div>

    <div class="col-md-3 pull-right">
      <a *ngIf="isUserAdmin()" routerLink="create" class="btn btn-primary pull-right h2">New Destination</a>
    </div>
  </div> <!-- /#top -->

  <hr/>
  <div id="list" class="row">
    <div class="table-responsive col-md-12">
      <table class="table table-striped table-hover" cellspacing="0"
             cellpadding="0" *ngIf="destinations">
        <thead>
        <tr>
          <th [class.sort-desc]="isClassActive('id') && getSortDirection() === 1" [class.sort-asc]="isClassActive('id') && getSortDirection() === 0" (click)="sort('id')">ID <span class="glyphicon glyphicon-arrow-down"></span><span
            class="glyphicon glyphicon-arrow-up"></span></th>
          <th [class.sort-desc]="isClassActive('name') && getSortDirection() === 1" [class.sort-asc]="isClassActive('name') && getSortDirection() === 0" (click)="sort('name')">Name <span class="glyphicon glyphicon-arrow-down"></span><span
            class="glyphicon glyphicon-arrow-up"></span></th>
          <th [class.sort-desc]="isClassActive('latitude') && getSortDirection() === 1" [class.sort-asc]="isClassActive('latitude') && getSortDirection() === 0" (click)="sort('latitude')">Latitude <span class="glyphicon glyphicon-arrow-down"></span><span
            class="glyphicon glyphicon-arrow-up"></span></th>
          <th [class.sort-desc]="isClassActive('longitude') && getSortDirection() === 1" [class.sort-asc]="isClassActive('longitude') && getSortDirection() === 0" (click)="sort('longitude')">Longitude <span class="glyphicon glyphicon-arrow-down"></span><span
            class="glyphicon glyphicon-arrow-up"></span></th>
          <th class="actions"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let dest of destinations">
          <td>{{dest.id}}</td>
          <td>{{dest.name}}</td>
          <td>{{dest.latitude}}</td>
          <td>{{dest.longitude}}</td>
          <td class="actions text-right">
            <a class="btn btn-success btn-xs" [routerLink]="['/destination', dest.id]">View</a>
            <a *ngIf="isUserAdmin()" class="btn btn-warning btn-xs" [routerLink]="['/destination', dest.id, 'edit']">Edit</a>
            <a *ngIf="isUserAdmin()" class="btn btn-danger btn-xs" (click)="selectDestination(dest.id)"
               data-toggle="modal"
               data-target="#delete-modal">Delete</a>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="5">
            <!-- Pagination -->
            <pagination [totalPageCount]="totalPageCount" (changeActivePage)="onChangeActivePage($event)"></pagination>
          </td>
        </tr>
        </tfoot>
      </table>

    </div>
  </div> <!-- /#list -->

  <div *ngIf="!destinations" class="well well-lg load-notification">Loading...</div>
</div>


