<div id="main" class="container">

  <div id="top" class="row">
    <div class="col-md-3">
      <h2>My Reservations</h2>
    </div>
  </div> <!-- /#top -->

  <hr/>
  <div id="list" class="row">
    <div class="table-responsive col-md-12">
      <table class="table table-striped table-hover" cellspacing="0"
             cellpadding="0" *ngIf="reservations" >
        <thead>
        <tr>
          <th>Status</th>
          <th>Price</th>
          <th>Status</th>
          <th>Flight Route</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let reservation of reservations">
          <td>{{reservation.id}}</td>
          <td>{{reservation.price | currency:'EUR':true}}</td>
          <td>{{reservation.reservationStatus}}</td>
          <!--<td>{{reservation.reservationItem.passengerType}}</td>-->
          <!--<td>{{reservation.reservationItem[0].numberOfSeats}}</td>-->
          <!--<td>{{getFlightRouteString(reservation.reservationItem[0].flight) | async}}</td>-->
          <td class="actions text-right">
            <a *ngIf="reservation.reservationStatus == 'NEW'" class="btn btn-success btn-xs" data-toggle="modal" data-target="#pay-modal"(click)="onPayRequest(reservation.id)">Pay</a>
            <a *ngIf="reservation.reservationStatus == 'NEW'" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#cancel-modal"(click)="onCancelRequest(reservation.id)">Cancel</a>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="5">
            <!-- Pagination -->
            <pagination [totalPageCount]="totalPageCount" (changeActivePage)="onChangeActivePage($event)"></pagination>
          </td>
        </tr>
        </tfoot>
      </table>

    </div>
  </div> <!-- /#list -->

  <div *ngIf="!reservations" class="well well-lg load-notification">Loading...</div>
</div>


